body{
	background-color: darkgrey;
}
h1{
	text-align: center;
}

}div li {
	list-style-type: none;
	float: left;
}
div ul{
	margin:0px;
	padding: 0px;
	overflow: hidden;
}
div{
	width: 100%;
}
div a{
	display: inline-block;
	text-decoration: none;
}
.lien{
	color: #3E215A;
	border-top: 5px solid rgba(0.0,0.0,0.0,0.0);
	border-bottom: 5px solid rgba(0.0,0.0,0.0,0.0);
	background-color: rgba(0.0,0.0,0.0,0.0);
	padding: 20px 30px;
}
.lien:hover{
	color: #3E215A;
	border-top: 5px solid #3E215A;
	border-bottom: 5px solid #3E215A;
	background-color: darkgrey;
	text-decoration: none;
	padding: 20px 30px;
}
.soustitre{
	background-color:grey; 
	text-align: center;
	padding: 5px 5px;
	border-top: 3px solid #3E215A;
	border-bottom: 3px solid #3E215A;
}
.carrousel{
	background-color: black;
	text-align: center;
	margin-top: 15px;
	margin-right: 50px;
}
footer{
	border-top: 3px solid #3E215A;
	border-bottom: 3px solid #3E215A;
}
.footer{
	background-color: darkgrey;
}
