/*Style du Body et du titre*/
body{
	background-color: darkgrey;
}
h1{
	text-align: center;
}


/*Style de la barre de navigation*/
nav{
	width: 100%;
	height: 72px;
	background-color:#858585;
	
} 

nav li {
	list-style-type: none;
	float: left;
	position: relative;

}

nav ul{
	margin:0px;
	padding: 0px;
	/*overflow: hidden;*/
}

nav ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
	color: #FFF;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

nav ul li:hover a{
	padding: 15px 30px 20px 30px;
}
/*Style des liste déroulante*/
.submenu{
	display: none;
}

.submenu li{
	border-bottom : 1px solid #CCC;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: red;
	width: 270px;
}
 .submenu li:hover a{
 	color: #EEE;
 	font-weight: bold;
 }

/*Style des classe menu*/
.menu-accueil a{
	color: #3E215A;
	text-decoration: none;
}
.connexion a{
	color: #3E215A;
	text-decoration: none;
}
.menu-accueil .submenu{
	background-color: #858585;
}
.menu-actualite .submenu{
	background-color: #858585;
}
.menu-commune .submenu{
	background-color: #858585;
}
.menu-services .submenu{
	background-color: #858585;
}
.menu-association .submenu{
	background-color: #858585;
}
.menu-decouverte .submenu{
	background-color: #858585;
}
.connexion .submenu{
	background-color: #858585;
}

/*Style des li dans les liste déroulante*/
.menu-accueil .submenu li:hover{
	background-color:#3E215A; 
}
.menu-actualite .submenu li:hover{
	background-color:#3E215A; 
}
.menu-commune .submenu li:hover{
	background-color:#3E215A; 
}
.menu-services .submenu li:hover{
	background-color:#3E215A; 
}
.menu-association .submenu li:hover{
	background-color:#3E215A; 
}
.menu-decouverte .submenu li:hover{
	background-color:#3E215A; 
}
.connexion .submenu li:hover{
	background-color: #3E215A;
}


.menu-accueil{
	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
}
.menu-actualite{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px;
 }

.menu-commune{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px;
 }

.menu-services{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px;
 }

.menu-association{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px;
 }
.menu-decouverte{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px;
 }
 .connexion{
 	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
 	padding: 20px 30px
 }


/*style des cases lors du passage de la souris*/
.menu-accueil:hover{
	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	height: 72px;
}
.menu-actualite:hover{
 	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	height: 72px;
 }

.menu-commune:hover{
 	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	height: 72px;
 }
.menu-services:hover{
 	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	height: 72px;
 }
.menu-association:hover{
 	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	height: 72px;
 }
 .menu-decouverte:hover{
 	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	height: 72px;
 }
.connexion:hover{
	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
 	padding: 20px 30px;
 	text-decoration: none;
 	color: #3E215A;
 	height: 72px;
}
.logo{
	margin-top: 7px;
	margin-right: 7px;
}
/*FIN MENU*/

/*Style tableau*/
table th{
	text-align: center;
}



/*.connexion{
	border-top: 5px;
 	background-color: #858585;
 	color: #3E215A;
	text-align: right;
}
.connexion:hover {
	border-top: 5px solid #3E215A;
 	background-color: darkgrey;
}*/
/*Style Tableau*/
.tableau{
	margin-right: auto;
	margin-left: auto;
}
/*FIN STYLE TABLEAU*/

/*Style des Titre*/
.soustitre{
	background-color:white;
	color: #3E215A; 
	text-align: center;
	padding: 5px 5px;
	border-top: 3px solid #3E215A;
	border-bottom: 3px solid #3E215A;
}

.soustitre2{
	background-color: white;
	color: #3E215A;
	text-align: center;
	padding: 3px 3px;
	border: 2px solid #3E215A;
}

.titrePetanque{
	background-color:white;
	color: #12AC0B; 
	text-align: center;
	padding: 5px 5px;
	border-top: 3px solid #12AC0B;
	border-bottom: 3px solid #12AC0B;
}
/*FIN STYLE DES TITRE*/


/*STYLE DES BLOC DE TEXTE*/
.fondtext{
	margin-top: 25%;
	background-color: #4A4A4A;
	border : solid #3E215A;
	margin-bottom: 10px;

}

.colorPre{
	color: white;
}
/*FIN STYLE DES BLOC DE TEXTE*/

/*STYLE DU PIED DE PAGE*/
footer{
	border-top: 3px solid #3E215A;
	border-bottom: 3px solid #3E215A;
	background-color: #3E215A;
	color: #A1A1A1;
}
.formulaire{
	color: #A1A1A1;
}
.copyright{
	background-color: black;
	color: #A1A1A1;
	width: 100%;
	text-align: left;
}

/*STYLE DES IMAGE*/
#image-gallery .modal-footer{
	display: block;
}
.imgAccueil{
	margin-bottom: 10px; 
}