/*Style du Body et du titre*/
body{
	background-color: #d0ebfe;
}
h1{
	text-align: center;
}

/*Style menu*/
	/*Style d'écriture navbar*/
	/*.Ubuntu {
		font-family: 'Ubuntu', sans-serif;
		}

	.Varela {
		font-family: 'Varela Round', sans-serif;
		}*/
	.Expletus{
		font-family: 'Expletus Sans', cursive;
		}
	/*Style d'écriture navbar*/

/*Style de la barre de navigation*/
nav{
	width: 100%;
	height: 73px;
	background-color:#85bbff;
	
} 

nav li {
	list-style-type: none;
	float: left;
	position: relative;

}

nav ul{
	margin:0px;
	padding: 0px;
	/*overflow: hidden;*/
}

nav ul::after{
	content: "";
	display: block;
	clear: both;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a{
	padding: 20px 30px;
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

/*Style des liste déroulante*/
.submenu{
	display: none;
}

.submenu li{
	border: 2px solid #d0ebfe;
	border-radius: 5px;
	background-color: #85bbff; 
}

.submenu li a{
	padding: 15px 30px;
	color: #632685;
	border: 2px solid #632685;
	border-radius: 5px;
	width: 270px;
	font-size: 17px;
}
 .submenu li:hover a{
 	color: #EEE;
 	font-weight: bold;
 }

/*Style des classe menu*/
.menu-accueil a{
	color: #3E215A;
	text-decoration: none;
	font-size: 25px;
}
.menu-accueil{
	text-decoration: none;
	background-color: #85bbff;
	border-top: 5px solid #3E215A;
	border-bottom: 5px solid #3E215A;
	border-right: 5px solid #3E215A;
	border-radius: 30px;
}
/*Style des li dans les liste déroulante*/
.menu-actualite .submenu li:hover{
	background-color:#3E215A; 
}
.menu-commune .submenu li:hover{
	background-color:#3E215A; 
}
.menu-services .submenu li:hover{
	background-color:#3E215A; 
}
.menu-association .submenu li:hover{
	background-color:#3E215A; 
}
.menu-decouverte .submenu li:hover{
	background-color:#3E215A; 
}
.menu-actualite{
 	border-top: 5px solid #85bbff;
 	background-color: #85bbff;
 	color: #3E215A;
 	padding: 20px 30px;
 	font-size: 19px;
 }

.menu-commune{
 	border-top: 5px solid #85bbff;
 	background-color: #85bbff;
 	color: #3E215A;
 	padding: 20px 30px;
 	font-size: 19px;
 }

.menu-services{
 	border-top: 5px solid #85bbff;
 	background-color: #85bbff;
 	color: #3E215A;
 	padding: 20px 30px;
 	font-size: 19px;
 }

.menu-association{
 	border-top: 5px solid #85bbff;
 	background-color: #85bbff;
 	color: #3E215A;
 	padding: 20px 30px;
 	font-size: 19px;
 }
.menu-decouverte{
 	border-top: 5px solid #85bbff;
 	background-color: #85bbff;
 	color: #3E215A;
 	padding: 20px 30px;
 	font-size: 19px;
 }
.menu-connexion{
	background-color: #85bbff;
	border-top: 5px solid #85bbff;
 	font-size: 19px;
 	text-decoration: none;
 }

 .a-connex{
 	text-decoration : none;
 	color : #3E215A;
 }


/*style des cases lors du passage de la souris*/
.menu-accueil:hover{
	text-decoration: none;
	border-top: 5px solid #3E215A;
	border-bottom: 5px solid #3E215A;
	border-right: 5px solid #3E215A;
 	background-color: #d0ebfe;
}

.menu-actualite:hover{
 	border-top: 5px solid #3E215A;
 	background-color: #d0ebfe;
 }

.menu-commune:hover{
 	border-top: 5px solid #3E215A;
 	background-color: #d0ebfe;
 	padding: 20px 30px;
 	height: 72px;
 }
.menu-services:hover{
 	border-top: 5px solid #3E215A;
 	background-color: #d0ebfe;
 	padding: 20px 30px;
 	height: 72px;
 }
.menu-association:hover{
 	border-top: 5px solid #3E215A;
 	background-color: #d0ebfe;
 	padding: 20px 30px;
 	height: 72px;
 }
 .menu-decouverte:hover{
 	border-top: 5px solid #3E215A;
 	background-color: #d0ebfe;
 	padding: 20px 30px;
 	height: 72px;
 }
 .menu-connexion:hover{
	background-color: #d0ebfe;
	border-top: 5px solid #3E215A;
 }
 .a-connex:hover{
 	text-decoration : none;
 	color : #3E215A;
 }
.logo{
	margin-top: 7px;
	margin-right: 7px;
}
/*FIN MENU*/

/*Style tableau*/
table th{
	text-align: center;
}

/*Style Tableau*/
.tableau{
	margin-right: auto;
	margin-left: auto;
}
/*FIN STYLE TABLEAU*/

/*Style des Titre*/
.soustitre{
	background-color: purple;
	color: white; 
	text-align: center;
	padding: 5px 5px;
	border-top: 3px solid #3E215A;
	border-bottom: 3px solid #3E215A;
}

.cadre {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  /* border-related properties */
  border: 20px solid black;
  background-clip: padding-box;
  border-image-source: url(../img/lauraPhotoshop/bordureF4.png);
  border-image-slice: 40;
  border-image-repeat: round;
  font-family: 'Expletus Sans', cursive; 
}

.soustitre2{
	background-color: purple;
	color: white;
	text-align: center;
	padding: 3px 3px;
	border: 2px solid #3E215A;
}

.titrePetanque{
	background-color:white;
	color: #12AC0B; 
	text-align: center;
	padding: 5px 5px;
	border-top: 3px solid #12AC0B;
	border-bottom: 3px solid #12AC0B;
}

.titrepied{
	font-family: georgia;
}
/*FIN STYLE DES TITRE*/


/*STYLE DES BLOC DE TEXTE*/
.fondtext{
	background-color: #8a8686;
	border : solid #3E215A;
	margin-bottom: 10px;
	border-radius: 10px;
}

.fondtext2{
	margin-top: 25%;
	background-color: #4A4A4A;
	border : solid #3E215A;
	margin-bottom: 10px;

}

.fondtext3{
	background-color: #8a8686;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 40px;	
}

.tableL {
	border-bottom: solid #3E215A;	
	color: black;
	font-size: 20px;
	font-family: 'Signika';
}

.tableL2 {
	font-size: 17px;
}

.colorPre{
	color: black;
	font-size: 20px;
	font-family: 'Signika';
}

.coloration {
	font-size: 20px;
	font-family: 'Signika';
	border-radius: 10px;
	margin-top: 25%;
	border : solid #3E215A;
	margin-bottom: 10px;
}

.ecriture {
	font-family: 'Signika';
}

.frame {
	border : 5px solid #3E215A;
	border-radius: 5px;
}

.format {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}


/*FIN STYLE DES BLOC DE TEXTE*/

/*STYLE DU PIED DE PAGE*/
footer{
	border-top: 3px solid #3E215A;
	/*border-bottom: 3px solid #3E215A;*/
	background-color: purple;
	color: white;
}
.formulaire{
	color: white;
}
.copyright{
	background-color: black;
	color: #A1A1A1;
	width: 100%;
	text-align: left;
}

/*STYLE DES IMAGE*/
#image-gallery .modal-footer{
	display: block;
}
.imgAccueil{
	margin-bottom: 10px; 
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.imgAccueil2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.imgA3{
	margin: 10px;
	border: 3px solid #3E215A;
	border-radius: 5px;
}
