<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue chez EMC'Renov</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="Css/style.css">
	</head>
	<body>essai
		<div class="text">
			<h1>Bienvenue sur le site EMC'Renov</h1>
			<div class="resp">
				<div class="text2">
					<h3>Onglet 1</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 2</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 3</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 4</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 5</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 6</h3>				
				</div>
				<div class="text2">
					<h3><a href="">Onglet 7</a></h3>				
				</div>
				<div class="text2">
					<h3>Onglet 8</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 9</h3>				
				</div>
				<div class="text2">
					<h3>Onglet 10</h3>				
				</div>
			</div>
		</div>
	</body>
</html>
